.corpo{
    padding: 2.2%;
    margin: 0 auto;
    max-width: 80%;
    display: flex;
}

.link{
    float: right;
    margin-top: 1%;
    display: flex;
}

p{
    text-align: left;
}

h1{
    text-align: left;
    margin-left: 2%;
}

h4{
    text-align: center;
}

#capa{
    position: relative;  
    margin-left: 12%;
    margin-top: 1.1%;
    display: flex;
}


ol{
    margin-left: 10%;
}

