<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
    <link rel="stylesheet" href="./static/normalize.css">
    <link rel="stylesheet" href="./static/stilo.css">

    

</head>
<body class="corpo">
    <!-- Cabeçalho -->
    <div>
        <img src="./static/imagens desaf/logo.png" alt="Logo" id="logo">
        <div class="link">
            <a href="/home" target="_blank">HOME</a>
            |
            <a href="/contatos" target="_blank">Quem somos</a>
            |
            <a href="/quem somos" target="_blank">Entre em contato</a>
        </div>
        
    </div>
<!-- Corpo 1 -->
    <div>
        <h1>Quem somos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet mollis nisl. Aliquam sit amet diam ac quam dignissim lobortis vel ac sapien. Proin placerat cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at tempor magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus vitae risus blandit venenatis. Sed sed nisl tempor, tincidunt elit sit amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum lects sed augue viverra ultrices ac nec lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum cursus elit, vitae placerat lectus laoreet a.</p>

    </div>
 <!-- Corpo 2 -->

    <div>
        <h1>5 Motivos para estudar:</h1>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Faculdade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
    </div>
    
<hr>
<!-- Corpo 3 -->
<div>
    <h1>Objetivos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet mollis nisl. Aliquam sit amet diam ac quam dignissim lobortis vel ac sapien. Proin placerat cursus risus. Duis blandit varius hendrerit. Vivamus sed placerat turpis, vel viverra neque. Duis at tempor magna, sit amet gravida purus. Nulla facilisi. Vivamus accumsan risus vitae risus blandit venenatis. Sed sed nisl tempor, tincidunt elit sit amet, facilisis neque. Donec rutrum mauris odio, gravida vestibulum nulla cursus vitae. Cras vestibulum lects sed augue viverra ultrices ac nec lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum cursus elit, vitae placerat lectus laoreet a.</p>

</div>
<!-- Rodapé -->

<div>
    <h4><b>Todos os direitos reservados</b> </h4>
</div>
    
</body>
</html>