.corpo{
    background: url(imagens\ desaf/fundo2.png);
}
table{
    width: 100%;
    height: auto;
}
tr{
    margin: 1%;
    border: 1px solid black;
}
td{
    margin: 1%;
    border: 1px solid black;
}
.link{
    float: right;
    margin-top: 2.5%;
    margin-right: 4%;
    font-style: none;
}

p{
    text-align: left;
}

h1{
    text-align: left;
}

h4{
    text-align: center;
}

#capa{
    text-align: center;
    background-color: whitesmoke;
    background-size: 100%;
}

#logo{
    margin-top: 1%;
}
ol{
    margin-left: 10%;
}

